.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 45%;
    max-height: 750px;
    padding: 1.2rem 1.35rem;
    background-color: rgba(4, 141, 141, 0.645);
    box-shadow: 0 4px 2px 2px #4b4a4a46;
}

.Playlist input {
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #c9f5f8;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #ebf5f6;
}

.Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #300f92;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #dbeaff;
    font-weight: 500;
}

.Playlist-save:hover {
    background-color: rgba(180, 225, 241, 0.735);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .Playlist {
        width: 90%;
    }
}